version: '3.8'

services:
  # --- SEU BACKEND ---
  backend:
    build: ./backend
    container_name: saas_backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - evolution-api

  # --- SEU FRONTEND ---
 # frontend:
  #  build: ./frontend
   # container_name: saas_frontend
    #restart: always
   # ports:
    #  - "3000:3000"
   # env_file:
    #  - ./frontend/.env

  # --- EVOLUTION API ---
  evolution-api:
    image: atendai/evolution-api:v1.8.2
    container_name: evolution_api
    restart: always
    ports:
      - "8081:8080"
    volumes:
      - evolution_store:/evolution/store # IMPORTANTE: Persistir as sessões do WhatsApp
    environment:
      - AUTHENTICATION_API_KEY=${EVOLUTION_API_KEY}
      - AUTHENTICATION_TYPE=apikey
      - SERVER_URL=https://api-wpp.seudominio.com # (Opcional, útil se usar domínio)

  # --- EVOLUTION MANAGER (Opcional em Prod, mas útil) ---
  evolution-manager:
    image: atendai/evolution-manager:latest
    container_name: evolution_manager
    restart: always
    ports:
      - "3001:80"
    environment:
      - VITE_API_URL=http://SEU_IP_DO_SERVIDOR:8081

volumes:
  evolution_store:
