version: '3.8'

services:
  # --- SEU BACKEND ---
  backend:
    build: ./backend
    container_name: saas_backend
    restart: always
    ports:
      - "8002:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - redis

  # --- SEU FRONTEND ---
  frontend:
    build: 
      context: ./frontend
      args:
        NEXT_PUBLIC_API_URL: http://147.93.8.232:8002
    container_name: saas_frontend
    restart: always
    ports:
      - "3002:3000"
    env_file:
      - ./frontend/.env

  # --- REDIS (MANTENHA! O Celery precisa dele) ---
  redis:
    image: redis:7.2-alpine
    container_name: evolution_redis
    restart: always
    command: ["redis-server", "--appendonly", "yes", "--requirepass", "redis_senha_secreta"]
    volumes:
      - redis_data:/data

  # --- CELERY WORKER (Processamento IA) ---
  celery_worker:
    build: ./backend
    container_name: saas_worker
    restart: always
    # Mantivemos a config de gevent para alta performance
    command: celery -A app.core.celery_app worker --pool=gevent --concurrency=20 --loglevel=info
    env_file:
      - ./backend/.env
    depends_on:
      - redis
      - backend

  # --- SCHEDULER (Lembretes) ---
  scheduler:
    build: ./backend
    container_name: saas_scheduler
    restart: always
    command: python -u scheduler.py
    env_file:
      - ./backend/.env
    depends_on:
      - redis
      - backend

# Volumes
volumes:
  redis_data: