version: '3.8'

services:
  # --- SEU BACKEND ---
  backend:
    build: ./backend
    container_name: saas_backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - evolution-api

  # --- SEU FRONTEND ---
 # frontend:
  #  build: ./frontend
   # container_name: saas_frontend
    #restart: always
   # ports:
    #  - "3000:3000"
   # env_file:
    #  - ./frontend/.env

  # --- NOVO SERVIÇO: REDIS ---
  redis:
    image: redis:7.2-alpine
    container_name: evolution_redis
    restart: always
    command: ["redis-server", "--appendonly", "yes", "--requirepass", "redis_senha_secreta"]
    volumes:
      - redis_data:/data

  # --- EVOLUTION API ---
  evolution-api:
    image: evoapicloud/evolution-api:v2.2.2
    container_name: evolution_api
    restart: always
    ports:
      - "8081:8080"
    volumes:
      - evolution_store:/evolution/store # IMPORTANTE: Persistir as sessões do WhatsApp
    depends_on:
      - redis
    dns:
    - 8.8.8.8
    - 8.8.4.4
    environment:
      - AUTHENTICATION_API_KEY=${EVOLUTION_API_KEY}

      # PARA O LOGIN FUNCIONAR
      - CORS_ORIGIN=*
      - CORS_METHODS=POST,GET,PUT,DELETE
      - CORS_CREDENTIALS=true
      - AUTHENTICATION_TYPE=apikey
      - SERVER_URL=https://api-wpp.seudominio.com # (Opcional, útil se usar domínio)

      # BANCO DE DADOS (SUPABASE)
      - DATABASE_ENABLED=true
      - DATABASE_PROVIDER=postgresql
      - DATABASE_CONNECTION_URI=postgresql://postgres.pofrnfocqclvqbrkuqyh:CoreSystem019%40@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require&schema=evolution&connection_limit=3&pool_timeout=60
      - DATABASE_SAVE_DATA_INSTANCE=true
      - DATABASE_SAVE_DATA_NEW_MESSAGE=true
      - DATABASE_SAVE_MESSAGE_UPDATE=true
      - DATABASE_SAVE_DATA_CONTACTS=true
      - DATABASE_SAVE_DATA_CHATS=true

      # --- CONFIGURAÇÃO DO REDIS (CRÍTICO) ---
      - CACHE_REDIS_ENABLED=true
      # URI: redis://:SENHA@NOME_DO_SERVICO:PORTA/DB
      - CACHE_REDIS_URI=redis://:redis_senha_secreta@redis:6379/0
      - CACHE_REDIS_PREFIX_KEY=evolution
      - CACHE_REDIS_SAVE_INSTANCES=true
      - CACHE_LOCAL_ENABLED=false # Desativa cache local para forçar Redis

  # --- EVOLUTION MANAGER  ---
  evolution-manager:
    build: ./evolution-manager-v2
    container_name: evolution_manager
    restart: always
    ports:
      - "3001:80"
    environment:
      - VITE_API_URL=http://147.93.15.244:8081
    volumes:
      - ${PWD}/evolution-manager-v2/nginx.conf:/etc/nginx/conf.d/nginx.conf

volumes:
  evolution_store:
  redis_data:
