fastapi
uvicorn[standard]
python-dotenv
supabase
openai
google-api-python-client
google-auth-oauthlib
cryptography
apscheduler
requests
pydantic
unidecode
holidays
celery
redis
gevent
schedule
python-jose[cryptography]
passlib[bcrypt]
python-multipart
# LangChain (Sem fixar sub-dependências como 'core')
langchain==0.2.1
langchain-community==0.2.1
langchain-openai==0.1.8